
.logo {
	flex: 0 0 550px;
	max-width: 520px;

	@include flex-row(nowrap,center,center);	

	&:hover {
		text-decoration: none;
	}
}

.logo__name {
	flex: 0 0 267px;
	position: relative;
	padding: 0 20px 0 0;
	color: $color_gray-dark;

	i {	font-style: normal; }

	@include font-kit(24px,23px,21px,20px,19px);
	font-family: 'Merriweather', 'Open sans', sans-serif;

	&::after {
		position: absolute;
		content: '';
		right: 0;
		top: 50%;
		transform: translatey(-50%);
		height: 37px;
		width: 1px;
		background-color: $color_main;
	}

}
.logo__school {
	flex-grow: 1;
	padding: 0 0 0 20px;
	text-transform: uppercase;
	color: $color_gray-dark;
	font-size: 14px;
}

.logo.logo_loading {
	@include flex-row(wrap,center,center);
	flex: 1 1 100%;
	max-width: 100%;
	.logo__name {
		display: block !important;
		flex: 1 1 100%;
		text-align: center;
		margin: 0 0 10px 0 !important;
		padding: 0 0 10px 0;
		&::after {display: none;}
	}
	.logo__school {
		display: block !important;
		flex: 1 1 100%;
		text-align: center;
		margin: 10px 0 0 0 !important;
		padding: 10px 0 0 0;
	}
}

@media screen and (max-width: 992px) {
	.logo {
		@include flex-row(nowrap,flex-start,center);
		flex: 0 0 215px;
		max-width: 215px;
		.logo.logo_loading {
			@include flex-row(wrap,center,center);
		}
	}
	.logo__name::after  {
		display: none;
	}
}

