// block
.page-header {
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: #fff;

	.container {
		@include flex-row(nowrap,flex-start,center);
	}
	.btn-burger {
		margin-right: 56px;
		flex: 0 0 94px;
		max-width: 94px;
	}
}

.page-header_sticky {
    box-shadow: 0 0 45px rgba(0,0,0,.1);
}

@media screen and (max-width: 992px) {
	.logo__school {display: none;}
}

@media screen and (max-width: 768px) {
	.page-header {
		.container {
			padding: 0 20px 0 0;
			.logo {
				margin-left: auto;
			}
			.btn-burger {
				margin-right: 20px;
				flex: 0 0 65px;
    			max-width: 65px;
    			width: 65px;
    			height: 65px;
    			padding: 18px;
    			.btn-burger__bar {
    				margin-bottom: 8px;
    				height: 1px;
    				&:last-child {margin-bottom: 0;}
    			}
			}
			.user-options {
				display: none;
			}
		}
	}
			
}

@media screen and (max-width: 413px) {
	.page-header {
		.container {
			.logo {
				flex: 0 0 165px;
    			max-width: 215px;
			}
			.btn-burger {
				margin-right: 20px;
			}
			.logo__name {
				font-size: 16px;
			}
		}
	}
}