.signup {
	.container {
		@include flex-row(nowrap, space-between, flex-start);

		.caption {
			h2 {margin-top: 0;}
		}
		.caption__subheading {font-size: 12px;}
	}
}

.signup__form {
	flex-grow: 1;
}
.signup__img {
	flex: 0 0 450px;
	max-width: 450px;
	height: 475px;
	@include bg-cover;
}

.signup__policy {
	line-height: 1.8;
}