.thumb {
	position: relative;
	// @include bg-cover;
	margin: 15px;
	overflow: hidden;

	&:hover {
		.thumb__img-holder {
			transform: scale(1.2);

			&::before {opacity: .5;}
		}		
	}
}

.thumb__img-holder {
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	@include bg-cover;
	transition: 900ms;

	&::before {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: $color_main;
		transition: 900ms;

		opacity: 0;
	}
}
.thumb_size-s {
	flex: 0 0 165px;
	max-width: 165px;

	height: 165px;
	width: 165px;
}
.thumb_size-m {
	flex: 0 0 260px;
	max-width: 260px;

	height: 260px;
	width: 260px;
}
.thumb_size-l {
	flex: 0 0 450px;
	max-width: 450px;

	height: 450px;
	width: 450px;
}

.thumb_btn {
	position: relative;
	background-color: $color_main;
	color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;

	@include flex-row(wrap, center, center);

	& > div {
		flex: 1 1 100%;
		text-align: center;
		img {display: inline-block; margin-bottom: 22px; transition: 400ms;}

		span {display: block; text-decoration: none;}
	}

	&::before{
		position: absolute;
		content: '';
		left: 10px;
		top: 10px;
		
		width: 23px;
		height: 23px;

		border-left: 1px solid rgba(255,255,255,.5);
		border-top: 1px solid rgba(255,255,255,.5);

		transition: 400ms;
	}

	&::after{
		position: absolute;
		content: '';

		right: 10px;
		bottom: 10px;
		
		width: 23px;
		height: 23px;

		border-right: 1px solid rgba(255,255,255,.5);
		border-bottom: 1px solid rgba(255,255,255,.5);

		transition: 900ms;
	}

	&:hover {
		text-decoration: none;
		& > div {
			img {
				transform: translateY(-4px);
			}
		}

			&::after{
				width: 144px;
				height: 144px;
			}
			&::before{
				width: 144px;
				height: 144px;
			}
	}
}


@media screen and (max-width: 1250px) {

	// .thumb_size-s {
	// 	flex: 0 0 135px;
	// 	max-width: 135px;

	// 	height: 135px;
	// 	width: 135px;
	// }
	// .thumb_size-m {
	// 	flex: 0 0 210px;
	// 	max-width: 210px;

	// 	height: 210px;
	// 	width: 210px;
	// }
	// .thumb_size-l {
	// 	flex: 0 0 380px;
	// 	max-width: 380px;

	// 	height: 380px;
	// 	width: 380px;
	// }


	// .thumb_size-s {
	// 	flex: 1 1 50%;
	// 	max-width: 50%;

	// 	height: 210px;
	// }
	// .thumb_size-m {
	// 	flex: 1 1 50%;
	// 	max-width: 50%;

	// 	height: 210px;
	// }
	// .thumb_size-l {
	// 	flex: 1 1 50%;
	// 	max-width: 50%;

	// 	height: 210px;
	// }

}