.thumb {
	position: relative;
	// @include bg-cover;
	margin: 15px;
	overflow: hidden;

	&:hover {
		.thumb__img-holder {
			transform: scale(1.2);

			&::before {opacity: .5;}
		}		
	}
}

.thumb__img-holder {
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	@include bg-cover;
	transition: 900ms;

	&::before {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: $color_main;
		transition: 900ms;

		opacity: 0;
	}
}
.thumb_size-s {
	flex: 0 0 165px;
	max-width: 165px;

	height: 165px;
	width: 165px;
}
.thumb_size-m {
	flex: 0 0 260px;
	max-width: 260px;

	height: 260px;
	width: 260px;
}
.thumb_size-l {
	flex: 0 0 450px;
	max-width: 450px;

	height: 450px;
	width: 450px;
}

.thumb_btn {
	position: relative;
	background-color: $color_main;
	color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;

	@include flex-row(wrap, center, center);

	& > div {
		flex: 1 1 100%;
		text-align: center;
		img {display: inline-block; margin-bottom: 22px; transition: 400ms;}

		span {display: block; text-decoration: none;}
	}

	&::before{
		position: absolute;
		content: '';
		left: 10px;
		top: 10px;
		
		width: 23px;
		height: 23px;

		border-left: 1px solid rgba(255,255,255,.5);
		border-top: 1px solid rgba(255,255,255,.5);

		transition: 400ms;
	}

	&::after{
		position: absolute;
		content: '';

		right: 10px;
		bottom: 10px;
		
		width: 23px;
		height: 23px;

		border-right: 1px solid rgba(255,255,255,.5);
		border-bottom: 1px solid rgba(255,255,255,.5);

		transition: 900ms;
	}

	&:hover {
		text-decoration: none;
		& > div {
			img {
				transform: translateY(-4px);
			}
		}

			&::after{
				width: 144px;
				height: 144px;
			}
			&::before{
				width: 144px;
				height: 144px;
			}
	}
}


@media screen and (max-width: 768px) {
	.thumb_size-s,
	.thumb_size-m,
	.thumb_size-l {
		flex: 0 0 30%;
		max-width: 30%;

		height: 185px;
		width: 30%;
	}
	.thumb_btn {
		&:hover{
				&::after,
				&::before{
					width: 23px;
					height: 23px;
				}
		}
	}
	// остальная адаптивка тамбов вложена в блок .thumb-group
}

@media screen and (max-width: 768px) {
	.thumb_btn {
		div {
			position: absolute;
		    top: 50%;
		    transform: translateY(-50%) translateX(-50%);
		    left: 50%;
		}
		&:hover{
				&::after,
				&::before{
					width: 23px;
					height: 23px;
				}
		}
	}
	// остальная адаптивка тамбов вложена в блок .thumb-group
}