

// .icon {
// 	transition: $tr;
// }


// .icon_insta {
// 	width: 18px;
// 	height: 18px;

// 	&:after {
// 		background-image: url(/img/icons/i-insta.png);	
// 	}
// }

.icon {
	display: inline-block;
}

.icon_outline {
	width: 60px;
	height: 60px;
	border: 1px solid #fff;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 60px;
	transition: 400ms;

	&:hover {border-color: black;}
}

.icon_vk {
	background-image: url(/img/icons/i-vk-white.png);
	&:hover {
		background-image: url(/img/icons/i-vk-black.png);
	}
}
.icon_inst {
	background-image: url(/img/icons/i-insta-white.png);
	&:hover {
		background-image: url(/img/icons/i-insta-black.png);
	}
}