

.icon {

	transition: $tr;

	&:after {
		@include pseudo;
		height: 20px;
		width: 20px;
		top: 50%;
	    left: 0%;
		transform: translateY(-50%);
	    @include bg-contain;
	}
}


.icon_vk {
	height: 18px;
	width: 18px;

	&:after {
		background-image: url(/img/icons/i-vk.png);	
	}
}


.icon_insta {
	width: 18px;
	height: 18px;

	&:after {
		background-image: url(/img/icons/i-insta.png);	
	}
}