.news-pagination {
	text-align: left;
	padding: 0 35px 30px 35px;

	@include flex-row(nowrap,center,center);




	// .swiper-pagination-bullet {
	.news-pagination__item {
		margin: 0 16px !important;
		position: relative;
		background-color: transparent;
		// border: 1px solid black;
		box-shadow: 0 0 1px 1px $color_main;
		width: 6px;
		height: 6px;
		opacity: 1;
		border-radius: 50%;
		cursor: pointer;
		transition: 400ms;

		&::before {
			position: absolute;
			content: '';
			left: 50%;
			top: 50%;	
			transform: translateX(-50%) translateY(-50%);
			width: 9px;
			height: 9px;
			background-color: transparent;
			border: 1px solid transparent;
			border-radius: 50%;
			transition: 500ms;
		}

		&:hover {
			background-color: $color_main;
		}
	}
	// .swiper-pagination-bullet-active {
	.news-pagination__item_active {
		background-color: black;
		box-shadow: none;

		&::before {
			width: 22px;
			height: 22px;
			background-color: transparent;
			border: 1px solid $color_main;
		}
		&:hover {}
	}
}

@media screen and (max-width: 768px) {
	.news-pagination {display: none;}
}