.hero {
	position: relative;
	height: 660px;
	padding: 0 0 80px 0;

	&::before {
		position: absolute;
		content: '';
		left: 0;
		top: 0;
		width: 518px;
		height: 100%;
		background-color: $color_gray-light;
		z-index: -2;
	}

	.container {
		position: relative;
		height: 100%;

		@include flex-row(nowrap,flex-start,center);
	}
}
.hero__slide-number {}
.hero__info {
	width: 441px;

	h1 {
		margin: $gutter/2 0 $gutter*2 0;
		letter-spacing: 3px;
		font-weight: 300;
	    @include font-kit(58px, 49px, 41px, 36px, 33px);
	    @include line-height-kit(1.30, 1.35, 1.40, 1.45, 1.50);		
	}
	p {	
		margin-bottom: $gutter*2; 
		color: $color_gray-dark; 
	}
}
.hero__img {
	position: absolute;
	top: 0;
	right: 0;

	width: 100%;
	height: 566px;

	padding: 0 0 0 0;
	padding-left: 114px;
	z-index: -1;
}
.hero__img-inner {
	width: 100%;
	height: 100%;

	@include bg-cover;
}