.venzel-1 {
	position: relative;

	&::after {
		position: absolute;
		content: '';

		width: 500px;
		height: 500px;

		left: -150px;
		bottom: -350px;

		background-image: url(/img/bg/bg-venzel-3.png);
		@include bg-contain;
	}
}

.venzel-2 {
	position: relative;

	&::after {
		position: absolute;
		content: '';

		width: 500px;
		height: 500px;

		left: -275px;
		bottom: -350px;

		background-image: url(/img/bg/bg-venzel-1.png);
		@include bg-contain;
	}
}

.venzel-3 {
	position: relative;

	&::after {
		position: absolute;
		content: '';

		width: 500px;
		height: 500px;

		left: -185px;
		bottom: -350px;

		background-image: url(/img/bg/bg-venzel-2.png);
		@include bg-contain;
	}
}