.swiper-news {
	width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    margin-top: -90px;
    padding-bottom: 100px;

    .swiper-slide {
		@include flex-row(nowrap, space-between, flex-end);
    }

    .swiper-wrapper {align-items: flex-end;}

	.news-item {
		height: 450px;
    	margin:0 20px;
    	transition: 0ms !important;
	}
    .swiper-slide-active {
    	.news-item:first-child {
    		height: 303px;
    	}
    }


}

.swiper-news__controls {
	position: absolute;
	bottom: 0;
	left: 0;

	height: 100px;
	width: 100%;

	@include flex-row(nowrap, space-between, center);

	.swiper-news__btn-next,
	.swiper-news__btn-prev,
	.swiper-pagination {
		position: static;
	}

	.swiper-news__btn-next,
	.swiper-news__btn-prev { 
		flex: 0 0 120px; 
		max-width: 120px; 
		@include bg-contain; 
	}

	.swiper-news__btn-next { background-image: url(/img/icons/arrow-r_long.png); }
	.swiper-news__btn-prev { background-image: url(/img/icons/arrow-l_long.png); }
}


@media screen and (max-width: 768px) {
	.swiper-news {
		margin-top: 40px;
	}
	.news-item,
	.news-item.swiper-slide-active {
		height: 303px !important;
	}

	.swiper-news__controls {display: none;}
}

@media screen and (max-width: 568px) {
	.swiper-news__controls {
		.swiper-news__btn-next,
		.swiper-news__btn-prev { display: none; }
		.swiper-pagination {
			width: 100%;
			text-align: center;
		}
	}
}