.feedback-item {
	@include flex-row(nowrap, flex-start, flex-start);

	position: relative;
	padding: 30px 0;
}
.feedback-item__img {
	position: relative;
	flex: 0 0 350px;
	max-width: 350px;

	// position: absolute;
	// left: 0;
	// bottom: 0;
	// width: 350px;

	height: 365px;
	@include bg-cover;

	&::before {
		position: absolute;
		content: '';
		width: 94px;
		height: 76px;
		right: -28px;
		top: -32px;
		background-image: url(/img/bg/bg-quotes-2.png);
		@include bg-contain;
		z-index: 2;
		opacity: 1;
		transition: 800ms;
		transition-delay: 1400ms;
	}

	&.zero {
		&::before {
			transition: 800ms;
			transition-delay: 1400ms;
		}
	}

	&.zero_hidden {
		&::before {
			opacity: 0;
		}
	}
}
.feedback-item__text {
	// flex-grow: 1;
	margin: 0 0 0 60px;
	// padding: 0 0 0 410px;
}
.feedback-item__text-cropped { 
	color: #fff; 
	margin-bottom: 15px;
	padding: 0 40px 0 0;
	height: 108px;
	overflow: hidden;
	transition: 600ms;


	&.full {
		height: auto;
	}
}
.feedback-item__show-btn {
	position: relative;
	margin-bottom: 30px;
	padding: 0 0 2px 0;
	background-color: transparent;
	color: #b8e3e6;
	text-transform: uppercase;
	border: 0;
	border-bottom: 1px dashed #b8e3e6;
	outline: 0;
	cursor: pointer;
	transition: $tr;

	&::before {
		position: absolute;
		content: '';
		width: 10px;
		height: 10px;
		top: 5px;
		transform: translateY(-50%) rotate(45deg);
		right: -30px;
		background-color: transparent;

		border-bottom: 1px solid #b8e3e6;
		border-right: 1px solid #b8e3e6;
		transition: $tr;
	}

	&:hover {
		color: #fff;
		border-bottom: 1px dashed #fff;
		&::before { border-color: #fff; }
	}

}
.feedback-item__name-date {
	cite, date {display: block; color: #fff;}
	cite {margin-bottom: 5px;}
}

@media screen and (max-width: 1200px) {
	.feedback-item__img {
		flex: 0 0 300px;
	    max-width: 300px;
	    height: 315px;
	}
}

@media screen and (max-width: 1024px) {
	.feedback-item__img {
		flex: 0 0 205px;
	    max-width: 205px;
	    height: 215px;
	}
}

@media screen and (max-width: 992px) {
	.feedback-item__img {
		flex: 0 0 190px;
	    max-width: 190px;
	    height: 200px;
	}
	.feedback-item__text {
		margin: 0 0 0 45px;
	}
}

@media screen and (max-width: 768px) {
	.feedback-item__img {
		flex: 0 0 190px;
	    max-width: 190px;
	    height: 200px;
	}
	.feedback-item__text {
		margin: 0 0 0 35px;
	}
}

@media screen and (max-width: 660px) {
	.feedback-item__img {
		flex: 0 0 135px;
	    max-width: 135px;
	    height: 145px;
	}
	.feedback-item__text {
		margin: 0 0 0 0;
	}
	.feedback-item__text-cropped {
		padding: 0 15px 0 0;
	}
}

@media screen and (max-width: 450px) {
	.feedback-item__img {
		flex: 0 0 125px;
	    max-width: 125px;
	    height: 135px;
	    margin: 0 auto 30px 0;
	}
	.feedback-item__text {
		margin: 0 0 0 0;
	}

	.feedback-item__text-cropped {margin: 0 0 30px 0;}

	.feedback-item {
		@include flex-row(wrap, flex-start, flex-start);
	}
	.feedback-item__name-date { margin: 0 auto 20px auto; text-align: center; display: inline-block; width: 100%; }
	.feedback-item__show-btn {
		margin: 0 auto 30px 0;
		display: block;
		&::before {display: none;}
	}
	.feedback-item__name-date {text-align: left;}

}
