.fancy-separator {
	position: relative;
	height: 85px;
	width: 100%;

	&::before {
		position: absolute;
		content: '';
		left: 0;
		top: 50%;
		height: 1px;
		width: 100%;
		background-color: black;
	}

}

.fancy-separator__logo {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translateY(-50%) translateX(-50%);
		height: 204px;
		width: 212px;
		padding: 40px;
		background-color: #fff;
}