.icon-link {
	display: inline-block;
	position: relative;
	padding-left: 31px !important;

	&::before {
		position: absolute;
		content: '';

		left: 0;
		top: 50%;
		transform: translateY(-50%);
		
		height: 16px;
		width: 18px;
		
		@include bg-contain;
	}
}

.icon-link_tel {
	&::before {
		background-image: url(/img/icons/i-phone.png);
	}
}
.icon-link_tel-white {
	transition: 400ms;
	&::before {
		background-image: url(/img/icons/i-phone-white.png);
		transition: 400ms;
	}

	&:hover {
		
		&::before {
			background-image: url(/img/icons/i-phone-black.png);
		}		
	}
}
.icon-link_mail {
	&::before {
		background-image: url(/img/icons/i-mail.png);
	}
}

.icon-link_copyright {
	&::before {
		background-image: url(/img/icons/i-mail.png);
	}	
}
