.to-top {
	@include flex-row(nowrap, center, center);
	position: fixed;

	transform: translateX(-301%);

	left: 30px;
	bottom: 30px;
	width: 60px;
	height: 60px;
	background-color: rgba(0,0,0,.3);
	
	cursor: pointer;

	opacity: .8;
	z-index: 9999;

	transition: 500ms;

	&:before {
		@include pseudo;
		right: 50%;
		top: 50%;
		transform:translateX(50%) translateY(-20%) rotate(-135deg);

		width: 18px;
		height: 18px;

		border-bottom: 1px solid #fff;
		border-right: 1px solid #fff;

	}

	&:hover {
		opacity: 1;
		background-color: rgba(0,0,0,.6);

		.to-top__text {
			opacity: 1;
		}
	}
}

.to-top__text {
	color: #fff;
	font-size: 1.4rem;
	font-weight: 300;
	opacity: 0;
}

.to-top_visible {
	transform: none;
}

@media screen and (max-width: 960px) {
	.to-top {
		width: 3.6rem;
	}
	.to-top__text {
		display: none;
	}
}

@media screen and (max-width: 667px) {
	.to-top {
		display: none;
	}
}