
.btn {
	display: inline-block;
	position: relative;
	padding: 20px 40px;
	color: #fff;
	background-color: transparent;
	transition: 300ms !important;
	text-decoration: none;
	overflow:hidden;
	background-color: $color_main;

	span { 
		color: transparent; 
		text-transform: uppercase;
		font-size: 14px;
    	line-height: 1.5 !important;
    	font-weight: 400 !important;
		transition: 300ms linear !important;
		text-decoration: none;
		z-index: 5;
	}

	&::before {
		position: absolute;
		content: attr(data-text);
		text-transform: uppercase;
		color: #fff;
		width: 100%;
		height:100%;
		padding: 20px 40px;
		left:0;
		top:0;
		z-index: 5;
		font-size: 14px;
    	line-height: 1.5 !important;
    	font-weight: 400 !important;
		transition: 300ms linear !important;
		text-decoration: none;
		border:1px solid $color_main;
	}

	&::after {
		position: absolute;
		content: '';
		text-transform: uppercase;
		width: 0px;
		height:0px;
		// padding: 20px 40px;
		left:0%;
		top:0%;
		transform: translateX(-40%) translateY(-40%);
		z-index: 4;
		border-radius: 50%;
		background-color: #fff;
		transition: 400ms ease-in !important;
		text-decoration: none;
	}

	&:hover {
		text-decoration: none;
		&::after {  
			width: 550px;
			height:550px;
		}
		&::before { color: $color_main; }
			
	}
}


// sizes

// .btn_size-l {
// 	span {
// 		@include font-kit(14px, 14px, 14px, 13px, 13px);
// 		padding: $gutter $gutter*2;
// 	}
// }
// .btn_size-m {
// 	span {
// 		@include font-kit(13px, 13px, 13px, 12px, 12px);
// 		padding: $gutter*0.8 $gutter*1.8;
// 	}
// }
// .btn_size-s {
// 	span {
// 		@include font-kit(12px, 12px, 12px, 11px, 11px);
// 		padding: $gutter*0.6 $gutter*1.6;
// 	}
// }

// .btn {
// 	overflow: hidden;
// 	i {
// 		position: relative;
// 		display: inline-block;
// 		width: 100%;
// 		height: 100%;
// 		&::before {
// 			position: absolute;
// 			content: '';
// 			width: 100%;
// 			height: 100%;
// 			top: 0;
// 			left: 0;
// 			background-color: $color_main;
// 			z-index: 2;
// 			transition: 600ms;
// 		}
// 	}
	
// 	span {
// 		display: inline-block;
// 		@include font-kit(14px, 14px, 14px, 13px, 13px);
// 		text-transform: uppercase;
// 		line-height: 1;
// 		color: #fff;
// 		transition: 600ms;
// 		border: 1px solid $color_main;

// 		z-index: 33;

// 	}

// 	&:hover {
// 		&:before { transform: translateY(-100%); }
// 		span {
// 			color: $color_main;
// 		}
// 	}
// }



// block
// .btn {
// 	display: inline-block;
// 	position: relative;	
// 	overflow: hidden;
// 	text-decoration: none;
// 	font-weight: 400;
// 	cursor: pointer;
// 	line-height: 100%;
// 	transition: 450ms;
// 	transition-delay: 0 !important;

// 	span {color: #fff;}

// 	&::before {
// 		transition: width .3s ease 0s;
// 	    width: 0;
// 	    height: 100%;
// 	    content: attr(data-text);
// 	    position: absolute;
// 	    display: block;
// 	    white-space: nowrap;
// 	    overflow: hidden;
// 	    color: $color_main;
// 	    left: 0;
// 	    top: 0;
// 	    z-index: 1;
// 	    box-sizing: border-box;
// 	    background: #fff;
// 		padding: $gutter $gutter*2;
// 		display: inline-block;
// 	}
// 	&::after {
// 		transition: width .3s ease 0s;
// 	    content: '';
// 	    position: absolute;
// 	    width: 0;
// 	    height: 19px;
// 	    border-bottom: 4px solid #ffba33;
// 	    left: 0;
// 	    bottom: -17px;
// 	}

// 	&:hover {
// 		&::after,&::before {width: 100%;}
// 		text-decoration: none;
// 		span {
// 			color: $color_main;
// 		}
// 	}
// }


// styles
.btn_main {
	background-color: $color_main;
	color: #fff;
	text-transform: uppercase;
	border: 1px solid transparent;
	&:active,
	&:visited 	{ color: #fff; }
	&:hover 	{ background-color: #fff; color: $color_main; border: 1px solid $color_main; }
	&:focus 	{}
}

.btn_secondary {
	background-color: lightgray;
	color: $color_font;
	border: 1px solid transparent;
	&:active,
	&:visited 	{ color: $color_font; }
	&:hover 	{ background-color: transparent; border:1px solid #b1b1b1; }
	&:focus 	{}
}

.btn_outline {
	background-color: #fff;
	color: $color_main;
	border: 1px solid $color_main;
	&:active,
	&:visited 	{ color: $color_main; }
	&:hover 	{ background-color: $color_main; color: #fff; }
	&:focus 	{}
}


.btn_icon {
	position: relative;
	text-align: center;

	background-color: #fff;
	color: $color_main;
	border: 1px solid $color_main;
	color: $color_main;

	&:visited,
	&:focus,
	&:active {
		color: $color_main;
	}

	&::before {
		transition: $tr;
	}


	&.btn_icon-cart 	{
		&::before {
			background: url(/img/icons/i-cart.png) $color_main center center no-repeat;
		}
		&:hover::before {
			width: 100%;
		}
	}
	&.btn_icon-call 	{
		&::before {
			background: url(/img/icons/i-phone.png) $color_main center center no-repeat;
		}
		&:hover::before {
			width: 100%;
		}
	}
	&.btn_icon-email 	{
		&::before {
			background: url(/img/icons/i-envelope.png) $color_main center center no-repeat;
		}
		&:hover::before {
			width: 100%;
		}
	}
	&.btn_icon-submit 	{
		&::before {
			background: url(/img/icons/i-submit.png) $color_main center center no-repeat;
		}
		&:hover::before {
			width: 100%;
		}
	}

	&.btn_size-l {
		padding-left: 50px+$gutter*1.75 !important;
		&::before {
			@include pseudo;
			left: 0;
			top: 0;

			height: 100%;
			width: 50px;
			background-size: 25px;
		}
	}
	&.btn_size-m {
		padding-left: 45px+$gutter*1.5 !important;
		&::before {
			@include pseudo;
			left: 0;
			top: 0;

			height: 100%;
			width: 45px;
			background-size: 20px;
		}
	}
	&.btn_size-s {
		padding-left: 40px+$gutter*1.25 !important;
		&::before {
			@include pseudo;
			left: 0;
			top: 0;

			height: 100%;
			width: 40px;
			background-size: 17px;
		}
	}

	// &:hover::before {
	// 	background-color: #fff;
	// }
	// &:hover::after {
	// 	background-color: #fff;
	// 	background-image: url(/img/icons/i-cart_orange.png);
	// 	background-position: 70% 50%;
	// }
}









// burger button


.btn-burger {
	@include flex-col(nowrap,center,flex-start);
	width: 94px;
	height: 94px;
	margin: 0 0 0 0;
	padding: 30px;
	cursor: pointer;
    transition: 350ms;

    // change
	background-color: $color_main;

	&:hover {
		.btn-burger__bar::after {
	    	width: 100%;
		}
		
	}
}
.btn-burger__bar {
	position: relative;
	width: 100%;
    height: 2px;
    margin-bottom: 10px;
    background-color: rgba(255,255,255,.7);
    transition: 350ms;
    transform-origin: center, center;

    	&:nth-child(2) {width: 80%;}

    	&:last-child { margin-bottom: 0; }

    	&:nth-child(1):after {
    		transition-delay: 100ms;
    	}
    	&:nth-child(2):after {
    		transition-delay: 200ms;
    	}
    	&:nth-child(3):after {
    		transition-delay: 300ms;
    	}

    &:after {
    	@include pseudo;
    	top: 0;
    	left: 0;
    	width: 0%;
    	height: 100%;
    	background-color: #fff;
    	z-index: 4;

    	transition: 350ms;
    }
}








// .btn_one-click {
// 	flex: 1 1 50%;

// 	@include flex-row(nowrap, flex-start, center);
// 	background-color: transparent;

// 	padding: .8rem .8rem .8rem .8rem;
// 	border: 2px solid transparent;
// 	line-height: 1.8rem;
// 	transition: $tr;

// 	font-size: 1.1rem;
// 	text-transform: uppercase;

// 	&:visited span {color: #514f53;}
// 	&:active span {color: #514f53;}


// 	span {
// 		display: inline-block;
// 		margin: 0 auto;
// 		position: relative;

// 		font-size: 1.2rem;
// 		font-weight: 600;
// 		text-transform: uppercase;
// 		color: #514f53;
// 		transition: $tr;



// 		&::before {
// 			@include pseudo;
// 			width: 100%;
// 			height: 1px;
// 			left: 0;
// 			bottom: -.5rem;
// 			background-color: $color_font;
// 			background-color: rgba(0,0,0,.1);
// 		}
// 	}

// 	&:hover span::before {
// 		display: none;
// 	}
// 	&:hover span {
// 		color: #000;
// 	}
// 	&:hover {
// 		background-color: #eaeaea;
// 	}

// }




.btn_metal {
	position: relative;
    background-image: url(/img/bg/bg-btn.jpg);
    padding: 1rem 3.5rem;
    font-size: 1.6rem;
    color: #fff;
    font-weight: 400;

    &:visited,
	&:active {
		color: #fff;
	}

    &:hover::after {
    	height: 100%;
    }

    &::after {
    	@include pseudo;
    	left: 0;
    	top: 0;
    	width: 100%;
    	height: 0%;
    	background-color: rgba(255,255,255,.3);

    	transition: $tr;
    }
}







// ======================================================












input.btn {
	border: 0;
	outline: none;
}

.btn_download {
    display: inline-block;
    margin: 0 .5rem .5rem 0;
    position: relative;
    padding: 1rem;
    text-decoration: none;
    padding-left: 0;
    padding: 2rem;
    color: #ffffff;
    -webkit-transition: 200ms;
    -o-transition: 200ms;
    text-decoration: underline;
    /* background: #2987bf; */
    background: url(/img/icons/i-download.png) #25af69 no-repeat;
    background-size: 2rem;
    background-position: 1.5rem center;
    padding: 1rem 2rem 1rem 5rem;
    text-decoration: none;

    &:visited,
    &:active,
    &:focus {
    	color: #ffffff;
    }
}

.btn_back {
    background-image: url(/img/icons/i-arrow-left_white.png);
    background-repeat: no-repeat;
    background-size: 1.9rem;
    background-position: 15px center;
    padding-left: 50px;
    line-height: 150%;
    transition: 200ms;
    padding: .4rem 1.8rem .4rem 4.5rem;
    font-size: 1.4rem;

    &:visited,
    &:active,
    &:focus {
    	color: #ffffff;
    }

    &:hover {
    	background-position: 10px center;
    }
}

@media screen and (max-width: 768px) {
	// sizes

	.btn_size-l {
		padding: $gutter*0.7 $gutter*1.7;
	}
	.btn_size-m {
		padding: $gutter*0.5 $gutter*1.5;
	}
	.btn_size-s {
		padding: $gutter*0.35 $gutter*1.35;
	}
}
