.user-options {
	margin-left: auto;
	height: 100%;
	flex-grow: 1;
	@include flex-row(nowrap,flex-end,center);
	
	// все ссылки-иконки
	& > a {
		position: relative;

		&:after {
			@include pseudo;
			height: 20px;
			width: 20px;
			top: 50%;
		    left: 0%;
			transform: translateY(-50%);
		    @include bg-contain;
		    transition: 400ms;
		}
	}
}

.user-options__tel {
    flex: 0 0 213px;
    margin: 0 29px 0 0;
    text-transform: uppercase;
    font-size: 14px;
    padding: 15px 15px 15px 50px;
    border: 1px solid transparent;
    transition: 400ms;

	&::after { 
		left: 15px !important;
		background-image: url(/img/icons/i-phone.png) 
	}
	&:hover {
		text-decoration: none;
		border: 1px solid $color_main;
		&::after { background-image: url(/img/icons/i-phone_colored.png) }
	}
}
.user-options__vk {
	margin: 0 29px 0 0;
	
	height: 18px;
	width: 18px;

	&:after { background-image: url(/img/icons/i-vk.png) }
	&:hover {
		&:after { background-image: url(/img/icons/i-vk_colored.png) }
	}
}
.user-options__insta {
	width: 18px;
	height: 18px;

	&:after { background-image: url(/img/icons/i-insta.png) }
	&:hover {
		&:after { background-image: url(/img/icons/i-insta_colored.png) }
	}
}

// .icon_tel {}
// .icon_vk {flex: 0 0 18px; margin: 0 29px 0 0;}
// .icon_insta {flex: 0 0 18px;}
